html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #ebebeb;
    overflow: hidden;
    position:relative;
}
#mapShow{
    width:100%;
    height:100%;
    font-size:0;
}
.showMapTemplate{
    width:100%;
    height:100%;
    font-size:0;
    background:#fff;
    display: flex;
    -webkit-display: flex;

}
.list-container{
    width:92px;
    display:inline-block;
    position: absolute;
    z-index: 999;
    background-color:#ebebeb;
}
.sub-view{
    flex:1;
    -webkit-flex:1;
    display:inline-block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow-y:auto;
    overflow-x: hidden;
}

.main-view{
    width:185px;
    height:40px;
    position: fixed;
    float: left;
    /*border-right:1px solid #ebebeb;*/
    margin-bottom:0;
    padding-left: 0;
    font-size:0;
}

.name,.number{
    width:92px;
    height:40px;
    line-height:40px;
    display: inline-block;
    text-align: center;
    border-bottom: 1px solid #ebebeb;
    font-size:14px;
    cursor: pointer;
    background-color:#d1d1d1;
    transition: all ease 0.3s;
}
.number:hover{
    border-left:4px solid #0f6db3;
    background-color: #d1d1d1;
    color:#2B7CB3;
    transition:all ease 0.2ms;
}

.name{
    color:#fff;
    background-color:#0f6db3;
}
.tabLi{
   position:relative;
    display:none;
}

.mainView,.tabLi{
    float: left;
    border-bottom:0;
}


.delete{
    position:absolute;
    top:0;
    right:0;
    display: inline-block;
    width:20px;
    height:20px;
    line-height: 20px;
    font-size:24px;
}
.mapMainContainer{
    position:relative;
    width:100%;
    height:100%;
    background-color: #8fadff;
    font-size:14px;

}
.idMapContainer{
    width:100%;
    height:100%;
    display:none;
    margin-left: 2px;
    background-color:#fff;
    font-size:0;
    color:#999;
}
.tabContent{
    position: relative;
    width:300px;
    height:300px;
    margin:1px;
    overflow: hidden;
    border:1px solid #999;
    display:inline-block;
    font-size:14px;
    cursor: crosshair;

}

.ev_material:hover,.odd_material:hover{
    background:#eee;
}

.autoMatch{
    display:none;
    z-index:-10;
}
.autoMatchLoading{
    display: block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:99999999;
    background-color:rgba(0,0,0,0.6);
}

/*修改拉框的样式*/
.ol-dragzoom {
    border: 3px dashed rgba(34, 40, 255, 0.53);
    border-radius: 3px;
}
#pointIdPop{
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    width:400px;
    height:200px;
    text-align: center;
    background-color: #fff;
    color: #999999;
    font-size: 20px;
    padding: 20px 0;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.7);
    border-radius: 6px ;
    border:1px solid #999999;
    z-index:99;
}

.deletePop{
    position:relative;
    right:-170px;
    top:-10px;
    font-size:30px;
}

.deletePop:hover{
    color: #707070;
}

.popContainer{
    display: block;
    width:100%;
    height:100%;
    position:absolute;
    top:0;left:0;
    z-index:10
}


.dhtmlxribbon_material .dhxrb_big_button .dhxrb_image {
    width: 30px;
    height: 30px;
    border: none;
}

.dhtmlxribbon_material .dhxrb_big_button {
    margin: 1px 3px;
    float: left;
    text-align: center;
    padding: 4px 10px;
    height: 82px;
    border: 1px solid #fafafa;
    background-color: #fafafa;
    font-size: 14px;
    font-family: Roboto,Arial,Helvetica;
    color: #404040;
    padding-top: 20px;
    cursor: pointer;
}


.dhtmlxribbon_material .dhxrb_in_group .dhxrb_item_text {
    height: 20px;
    width: 42px;
    line-height: 19px;
}

.dhtmlxslider_material .dhxsl_runner {
    position: absolute;
    background-color: #009999;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    z-index: 1;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.dhxlayout_base_material div.dhx_cell_layout div.dhx_cell_hdr {
    position: relative;
    height: 42px;
    line-height: 42px;
    background-color: #DADADA;
    overflow: hidden;
    font-family: Roboto,Arial,Helvetica;
    font-size: 17px;
    color: #060606;
    cursor: default;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


#exportIdPop {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    width: 400px;
    height: 200px;
    /*text-align: center;*/
    background-color: #fff;
    /*color: #999999;*/
    font-size: 20px;
    /*padding: 20px 0;*/
    box-shadow: 2px 2px 2px rgba(0,0,0,0.7);
    border-radius: 6px;
    border: 1px solid #999999;
    z-index: 99;
}
/*统一弹出框*/
#popBox{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.7);
    border: 1px solid #999999;
    z-index: 100;
}
#popBox_title{
    background: #EBEBEB;
    height: 40px;
    width: 100%;
    cursor:move;
}
#popBox_title>div{
    float: left;
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
}
#popBox_title>div:first-child{
    height: 30px;
    width: 5px;
    background: #04979E;
    margin-top: 5px;
}
#popBox_title>#popBox_name{
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
}
#popBox_title>#popBox_close{
    float: right;
    margin-left: 0;
    width: 40px;
    text-align: center;
    cursor:pointer;
}
.exportPop {
    position: relative;
    right: -260px;
    /* top: -10px; */
    font-size: 30px;
    padding-right: 0px;
    overflow: auto;
}
#popBox_wrap{
    padding: 20px;
}

.fileList{
    background-color: #22222C;
    height: 100%;
}

.leftLabel {
    background-color: #2b2b38;
    width: 100%;
    height: 5%;
    margin-bottom: 0px;
    text-align: center;
    /* padding-left: 29%; */
    /* padding-right: 29%; */
    padding-top: 4.5%;
    color: white;
    /* padding: 15px; */
    border-bottom: 1px #3e3e50 solid;
}

.nav_item .last_level {
    float: left;
    margin-left: 5px;
    margin-top: 11.5px;
}

/*.ol-viewport {*/
    /*height: 94% !important;*/
/*}*/

.ol-mouse-position {
    width: 160px !important;
    height: 29px !important;
    color: #0a0a0a !important;
    position: absolute !important;
    right: 10px !important;
    bottom: 6px !important;
    z-index: 999 !important;
    top: 90%;
    text-align: -webkit-right;
}

div.gridbox .objbox {
    overflow-x: hidden !important;
}

.dhtmlxribbon_material .dhxrb_3rows_block {
    float: left;
    margin: 0px 0px;
    overflow: hidden;
    position: relative;
}